<!-- ---------------- home.html----------------- -->
<div class="container">
    <div class="content-top">
    </div>
    <div class="content">
        <div class="row">
            <div class="box-pre">
                <ul>
                    <li class="box_active">
                        <a class="various3" href="#/changePricePlan/?subno=&oulevel=Sub&ouid=&action=" target="_blank">
                            <div class="box-pre-dt01">
                                <p><b>Subscriber Level</b></p>
                                <h3>Change Price Plan</h3>
                                <h4><b>ID:</b>, <b>Level:Sub</b>, <b>SubscriberNo:</b></h4>
                            </div>
                            <div class="box-pre-dt02">
                                <div class="icon_tt">
                                    <span class="input-group-btn">
                                    </span>
                                </div>
                                <div class="box-pre-dt">
                                    
                                </div>
                            </div>
                        </a>
                    </li>

                    <li class="box_active">
                        <a class="various3" href="#/changeIRIDD?id=3480300640456&subno=" target="_blank">
                            <div class="box-pre-dt01">
                                <p><b></b></p>
                                <h3>บริการ IR/IDD</h3>
                                <h4><b>ID:</b>, <b>SubscriberNo:</b></h4>
                            </div>
                            <div class="box-pre-dt02">
                                <div class="icon_tt">
                                    <span class="input-group-btn">
                                        <!-- <button title="" type="button" class="hide" data-original-title="">
                                            <a href="#" class="socials-small"></a>
                                        </button> -->
                                    </span>
                                </div>
                                <div class="box-pre-dt">

                                </div>
                            </div>
                        </a>
                    </li>
                    
                    <li class="box_active">
                        <a class="various3" href="#/changeSwapSim?subno=" target="_blank">
                            <div class="box-pre-dt01">
                                <p><b></b></p>
                                <h3>SWAP SIM</h3>
                                <h4><b>ID:</b>, <b>SubscriberNo:</b></h4>
                            </div>
                            <div class="box-pre-dt02">
                                <div class="icon_tt">
                                    <span class="input-group-btn">
                                    </span>
                                </div>
                                <div class="box-pre-dt">
                                </div>
                            </div>
                        </a>
                    </li>

                    <li class="box_active">
                        <a class="various3" href="#/multiSim?subno=" target="_blank">
                            <div class="box-pre-dt01">
                                <p><b></b></p>
                                <h3>Multi SIM</h3>
                                <h4><b>ID:</b>, <b>SubscriberNo:</b></h4>
                            </div>
                            <div class="box-pre-dt02">
                                <div class="icon_tt">
                                    <span class="input-group-btn">
                                    </span>
                                </div>
                                <div class="box-pre-dt">
                                </div>
                            </div>
                        </a>
                    </li>

                    <li class="box_active">
                        <a class="various3" href="#/resume?subno=" target="_blank">
                            <div class="box-pre-dt01">
                                <p><b></b></p>
                                <h3>Resume</h3>
                                <h4><b>ID:</b>, <b>SubscriberNo:</b></h4>
                            </div>
                            <div class="box-pre-dt02">
                                <div class="icon_tt">
                                    <span class="input-group-btn">
                                    </span>
                                </div>
                                <div class="box-pre-dt">
                                </div>
                            </div>
                        </a>
                    </li>

                    <li class="box_active">
                        <a class="various3" href="#/deleteFuturePricePlan?subno=" target="_blank">
                            <div class="box-pre-dt01">
                                <p><b></b></p>
                                <h3>Delete Future Priceplan</h3>
                            </div>
                            <div class="box-pre-dt02">
                                <div class="icon_tt">
                                    <span class="input-group-btn">
                                    </span>
                                </div>
                                <div class="box-pre-dt">
                                </div>
                            </div>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
        
    </div>
</div>
