<div class="container" id="multiSimContent" ng-init="onLoad();">
    <div class="content-top">
    </div>
    <div class="content m_content">
        <div class="col-md-1"></div>
        <div class="col-md-11">
            <div ng-include="template.header"></div>
            <div class="clearfix"></div>
            <h1 class="content-title">บริการ Multi SIM</h1>
            <div class="content-body">
                <div ng-include="template.customerprofile" scope="" onload=""></div>
                <!-- end authorize -->
                <div ng-include="template.currentpriceplan" scope="" onload=""></div>
                <div ng-show="data.status" class="well" style="background-color:#ffffff;">
                    <div class="row">
                        <div class="form-group">
                            <label class="col-md-2 control-label">
                                <h4>Multi SIM</h4>
                            </label>
                            <div class="col-md-8">
                                <div data-toggle="buttons" class="btn-group btn-group-justified">
                                    <label class="btn btn-default active" id="labelAdd" ng-click="changereqType('ADD_MINORSIM');defaultMultiSimValue();">
                                        <input type="radio" ng-model="requestType" value="ADD_MINORSIM"> เพิ่มซิมเสริม
                                        <br /> Add Minor SIM
                                    </label>
                                    <label class="btn btn-default" ng-click="changereqType('REMOVE_MINORSIM');defaultMultiSimValue();">
                                        <input type="radio" ng-model="requestType" value="REMOVE_MINORSIM"> ยกเลิกซิมเสริม
                                        <br /> Delete Minor SIM
                                    </label>
                                    <label class="btn btn-default" ng-click="changereqType('UPDATE_SIM_ALIAS');defaultMultiSimValue();">
                                        <input type="radio" ng-model="requestType" value="UPDATE_SIM_ALIAS"> แก้ไขชื่อซิม
                                        <br /> Update SIM Alias
                                    </label>
                                    <label class="btn btn-default" ng-click="changereqType('RESUME_MINORSIM');defaultMultiSimValue();">
                                        <input type="radio" ng-model="requestType" value="RESUME_MINORSIM"> Resume Minor SIM
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Start Multi SIM -->
                    <div class="table-responsive" style="margin-top:20px;">
                        <table class="table table-bordered table-condensed" style="margin-bottom: 0px;">
                            <tr class="well">
                                <th class="contentTbHeader">
                                    <h></h>
                                </th>
                                <th class="contentTbHeader">
                                    หมายเลขซิมการ์ด
                                    <br /> SIM Serial
                                </th>
                                <th class="contentTbHeader">
                                    ประเภทซิม
                                    <br /> SIM Type
                                </th>
                                <th class="contentTbHeader">
                                    ซื่อซิม
                                    <br /> Alias Name
                                </th>
                                <th class="contentTbHeader">
                                    ซิม IR
                                    <br /> (IR SIM)
                                </th>
                            </tr>
                            <tr ng-repeat="item in displayMultiSim" id="{{item['sim-serial']}}">
                                <td align="center" style="vertical-align: middle;">
                                    <span class="icon-sim-card" style="font-size:24px;" ng-hide="requestType=='REMOVE_MINORSIM' && item['sim-type']=='ซิมเสริม / Minor SIM' || (requestType=='RESUME_MINORSIM' && item['can-resume']==true)"></span>
                                    <div ng-show="(requestType=='REMOVE_MINORSIM' && item['sim-type']=='ซิมเสริม / Minor SIM') || (requestType=='RESUME_MINORSIM' && item['can-resume']==true)" class="checkbox checkbox-circle2 checkbox-inline" style="left:11px;">
                                        <input ng-checked="" ng-model="deleteMinorSim" id="{{item['sim-serial']}}" type="checkbox" class="styled" style="cursor:pointer;">
                                        <label for="{{item['sim-serial']}}"></label>
                                    </div>
                                </td>
                                <td class="contentTb" style="width:25%;">
                                    {{item['sim-serial']}}
                                </td>
                                <td class="contentTb">
                                    <span ng-show="item['sim-type']=='ซิมหลัก / Master SIM'">
                                        <b>{{item['sim-type']}}</b>    
                                    </span>
                                    <span ng-hide="item['sim-type']=='ซิมหลัก / Master SIM'">
                                        {{item['sim-type']}}    
                                    </span>
                                </td>
                                <td class="contentTb">
                                    <span ng-hide="requestType=='UPDATE_SIM_ALIAS'">
                                        {{item['alias-name']}}
                                    </span>
                                    <div class="input-group" ng-show="requestType=='UPDATE_SIM_ALIAS'">
                                        <span class="input-group-addon" style="color: #000;background: none;border-style:none;">
                                            <i ng-show="item['value-change'] == true" class="fa fa-undo fa-1x" style="font-size:1.0em;cursor:pointer;vertical-align: initial;" ng-click="unDoEditAliasName($index, item['sim-serial']);"></i>
                                        </span>
                                        <input type="text" class="form-control" ng-model="item['alias-name']" ng-keyup="chkChangeValue(item['alias-name'], $index, item['sim-serial'])" ng-change="chkChangeValue(item['alias-name'], $index, item['sim-serial'])" style="border-radius: 4px; height:30px; ">
                                        <span class="input-group-addon" style="color: #000;background: none;border-style:none;">
                                        </span>
                                    </div>
                                </td>
                                <td class="contentTb" style="text-align:center;">
                                    <span class="fa fa-check" style="color:green; font-size:24px;" ng-show="item['ir-sim'] == true"></span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!-- End Multi SIM -->
                </div>
                <div ng-show="requestType=='ADD_MINORSIM'">
                    <div class="btn-group" style="bottom:10px;">
                        <button class="btn" style="border-radius:20px; color: #FFF; width:195px; background-color:#f2511e" ng-click="addMinorSim();" ng-disabled="minorSim.length == 2">
                            <i class="fa fa-plus-circle pull-left fa-lg-plus" style="margin-top:7px;"></i>
                            <div style="padding-top: 3px; padding-right: 20px;">เพิ่มซิมเสริม
                                <br />Add Minor SIM</div>
                        </button>
                        <label style="margin-top:20px; margin-left:15px; font-weight:bold; color:red;">*** สามารถเพิ่มซิมเสริมได้อีก 2 ซิม</label>
                    </div>
                    <br>
                    <br>
                    <div class="table-responsive" style="overflow-x:visible;" ng-show="minorSim.length>0">
                        <table class="table table-striped table-bordered table-hover table-condensed" style="margin-bottom: 0px; border:0;">
                            <tr style="border:0;">
                                <th class="contentTbHeader">
                                    <h></h>
                                </th>
                                <th class="contentTbHeader">
                                    หมายเลขซิมการ์ด SIM Serial
                                </th>
                                <th class="contentTbHeader">
                                    Package
                                </th>
                                <th class="contentTbHeader">
                                    ซื่อซิม Alias Name
                                </th>
                            </tr>
                            <tr ng-repeat="item in minorSim track by $index" style="border:0;">
                                <td style="border:0;">
                                    <i ng-click="deleteMinorSim(item.id)" class="fa fa-trash-o fa-1x" style="color:red; margin-top:7px; margin-left:20px;cursor:pointer;"></i>
                                </td>
                                <td style="border:0;">
                                    <input type="text" ng-model="item.serial" class="form-control">
                                </td>
                                <td style="border:0;">
                                    <select name="package" id="" ng-model="item.package" class="form-control" ng-init="item.package='1'">
                                        <option ng-repeat=" item in minorSimDetails.package " value="{{item.id}}">{{item.name}}</option>
                                    </select>
                                </td>
                                <td style="border:0;">
                                    <input type="text" ng-model="item.aliasName" class="form-control">
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <style type="text/css">
                .divEffer {
                    width: 250px;
                }
                
                .divCorperate {
                    width: 80%;
                }
                </style>
            </div>
            <div class="col-md-12 form-buttons">
                <div class="form-group">
                    <button type="button" href="#modal-pdf" ng-click="prePrintOrder()" data-toggle="{{attModalVal}}" class="btn btn-success" id="btnValidatePrint" disabled="disabled">
                        พิมพ์
                    </button>
                    <button type="button" class="btn btn-cancel" ng-click="cancelChanged()">ยกเลิก</button>
                </div>
            </div>
        </div>
    </div>
</div>
